#shredlist {
    width: 45%;
    float: right;
    flex-direction: column;
    background: lightgrey;
    padding: 10px;
    margin: auto;
    list-style: none;
}

#shredwishlist {
    width: 45%;
    float: left;
    flex-direction: column;
    background: lightgrey;
    padding: 10px;
    margin: auto;
    list-style: none;
}

.statebutton {
    width: 700px;
    height: 100px;
    background-image: url("../images/skiierphoto.jpg");
    background-position: 50% 40%;
    font-size: larger;
    font-weight: bold;
}

#mountainbuttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}