.mountain {
    background: lightgrey;
    padding: 20px;
    margin: 10px;
    width: 600px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.statename {
    text-align: center;
}

link {
    color: black
}